*{
    margin: 0;
}

body{
    height: 100%;
    font-size: 1.5em;
    font-family: "Poppins";
    line-height: 1.6;
    color: #222;
}

html{
    font-size: 12px;
}

.bgimage{
    background-image: url(stevejobs.jpg);
    height: 100vh;
    background-position: center;
    justify-content: center;
    background-size: cover;
}

#first{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textsty{
    display: inline-block;
    font-size: 4em;
    border: 2px solid rgb(0, 0, 0);
    text-transform: uppercase;
    word-wrap: break-word;
    padding: 20px;
    width: 5%;
    color: rgb(76, 74, 74);
    opacity: 0.8;
    margin: auto 10%;
    text-align: center;
}

#second{
    background-color: black;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#secondtext{
    order: 1;
    flex-grow: 1;
    min-width: 30%;
    margin-top: 25vh;
    font-size: 2.3em;
    text-align: center;
    font-weight: 600;
    margin-bottom:25vh ;
    color: white;
}

#quote{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    margin-left: 120px;
}

#secondimage{
    order: 2;
    flex-grow: 1;
    min-width: 50%;
    align-self: center;
    max-width: 50px;
    width: 10%;
    margin-top: 70px;
    margin-left: 230px;
}

#steveimage{
    max-width: 100%;
    box-sizing: border-box;
    
}

#third{
    background-color: black;
    min-height: 100vh;
}

.container{
    width: 55%;
    text-align: center;
    margin: 0 auto;
    padding: 6% 1%;
    color: white;
    font-size: 1.8rem;
}

#awards{
    color: white;
    font-size: 3.5rem;
    text-align: center;
}

#fourthtext{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 10%;
    padding-top: 5%;
}